img{
    width: 150px;
}
h3{
    color: red;
    text-decoration: underline;
    font-style: italic;
}
pre{
    font-family: "Times New Roman";
}
p{
    line-height: 1.25;
    border-bottom: 2px dashed #ff0000;
}
span{
    text-transform: capitalize;
    margin-left: 20px;
}
body{
    width: 1000px;
    margin: auto;
    background-color: snow;
}